@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.options {
  display: flex;
  gap: 10px;
  justify-content: center;
  }
  
.stopwatch {
display: flex;
flex-flow: column nowrap;
justify-content: space-between;
gap: 20px;
/* height: 260px; */
}

.stopwatch form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  gap: 20px;
}

.seconds {
display: flex;
gap: 6px;
}

.secondsLeft {
background-color: #0b634e;
border-radius: 0 6px 6px 0;
box-shadow: 1px 1px 6px black;
padding: 10px;
}

.secondsRight {
background-color: #0b634e;
border-radius: 6px 0 0 6px;
box-shadow: 1px 1px 6px black;
padding: 10px;
}

.timer {
align-items: center;
color: white;
display: flex;
font-family: 'Roboto', sans-serif;
font-weight: 700;
font-size: 80px;
gap: 6px;
justify-content: center;
}

.minutes {
display: flex;
gap: 6px;
}

.minutesLeft {
background-color: #0b634e;
border-radius: 0 6px 6px 0;
box-shadow: 1px 1px 6px black;
padding: 10px;
}

.minutesRight {
background-color: #0b634e;
border-radius: 6px 0 0 6px;
box-shadow: 1px 1px 6px black;
padding: 10px;
}

input {
  border: 2px solid #ccc;
  border-radius: 6px;
  padding: 10px;
  margin: 0 auto;
  width: 50%;
}

input:focus {
  background-color: #f7f7f7;
  box-shadow: 0 0 5px 2px #ffd700;
  outline: 0;
  color: #333;
}

input:focus:hover {
  background-color: #f7f7f7;
  box-shadow: 0 0 5px 2px #ffd700;
  outline: 0;
  color: #333;
}

input:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

input + span {
  display: block;
  color: #999;
  font-size: 12px;
  margin-top: 5px;
}

input::placeholder {
  text-align: center;
}

button {
  background-color: #2FC18C;
  color: #fff;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  width: 100px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px black;
  cursor: pointer;
}

button:active {
  box-shadow: 0 0 0;
}

button:hover {
  background-color: #238b69;
  transform: translateY(-3px);
  transition: 0.2s;
}

button:disabled {
  background: #a6a6a6;
  box-shadow: 0 0 0;
}

button:hover:disabled {
  background: #a6a6a6;
  transform: none;
}

.finish {
  animation: scaleIn .4s forwards;
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  justify-content: center;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  height: 100%;
  width: 100%;
}

@keyframes scaleIn {
  from {
    transform: scale(0%);
  }
  to {
    transform: scale(100%);
  }
}

P {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 28px;
}

.options-default {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.options-default button {
  width: 160px;
}
